<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->

<gooey-tabs class="tabs-icon-top">
   <!-- HOME -->

    <gooey-tab title="Login" icon-off="ion-headphone" icon-on="ion-headphone" href="#/tab/login">
      <ion-nav-view name="tab-login"></ion-nav-view>
    </gooey-tab>
<!--
    <!-- Greating Birthday -->
    <gooey-tab title="Chats" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes " href="#/tab/chats">
      <ion-nav-view name="tab-chats"></ion-nav-view>
    </gooey-tab>

    <!-- 30 Project part our live -->
    <!-- 30 Project part our live -->
    
    <gooey-tab title="Add Data" icon-off="ion-ios-plus-outline" icon-on="ion-ios-plus" href="#/tab/tambah">
    <ion-nav-view name="tambah"></ion-nav-view>
    </gooey-tab>
    <!-- Account Tab -->
  
</gooey-tabs>
</svg>